.hardcoded--inline q {
  hanging-punctuation: first;
  font-style: italic;
}

.issue-1 {
  width: 589px;
}

.hardcoded--block p {
  hanging-punctuation: first;
  font-style: italic;
}

.pseudo q:before,
.pseudo q:after {
  hanging-punctuation: first;
}

.wrong-char p {
  hanging-punctuation:first;
}
